.intro
	padding 3rem 1rem
	margin 0
	background-color #fff
	color $off-black
	&__top
		display flex
		justify-content center
		align-items center
		margin-bottom 2.5rem
	.top__logo
		width 8rem
		margin-right 1rem

	&__title
		text-align center

	.title__hed
		font-weight 300
		margin 0

	.title__description
		font-weight 400
		max-width 28rem
		margin 1.5rem auto
		font-size 15px
