.map__intro, .map__outro
	max-width 40rem
	margin 2rem auto
	padding 0 1rem
	p 
		set-type-size(root)
		
.map
	position relative
	opacity 0
	&.is-visible
		opacity 1
	svg
		.region
			fill none
			stroke $off-white
			stroke-width 0.5px
			stroke-opacity 0.25
			cursor pointer
			&.is-highlight
				stroke $off-black
				stroke-opacity 1
				stroke-width 2px

		mark
			background-color $gray-light
			border-bottom 2px solid $gray-dark
			padding 0 0.5em
	.map__ui
		display flex
		justify-content center
		flex-direction column
		align-items center
		+mq('bp-2')
			flex-direction row
			align-items flex-end
		.ui__control
			width 2rem
			height 2rem
			background-color $gray-light
			position relative
			border-radius 1rem
			cursor pointer
			order 0
			margin-bottom 0.5rem
			+mq('bp-2')
				order 2
				margin-left 1.5rem
				margin-bottom 0
			span
				position absolute
				display block
				top 50%
				left 50%
				width 67%
				height 67%
				transform translate(-50%, -50%)
				display none
				&.is-selected
					display block

			svg
				width 100%
				height 100%
				stroke $gray-dark
				fill $gray-dark

			.feather-play
				transform translateX(12.5%)

		ul.past
			display flex
			width 5rem
			justify-content space-around
			order 2
			margin-top 0.5rem
			+mq('bp-3')
				order 0
				margin-top 0
		
		ul.timeline
			display flex
			width auto
			justify-content space-around
			order 1
		
		li
			width auto
			text-align center
			margin 0 0.125em
			line-height 1
			cursor pointer
			user-select none
			+mq('bp-3')
				margin 0 0.25em

		.rect
			display inline-block
			width 1.5rem
			margin 0 auto
			height 0.5rem
			background-color $gray-light
			line-height 1
			// vertical-align top
		
		.label
			margin 0
			padding 0
			line-height 1.2
			set-type-size('xx-small', false)
			font-weight 500
			color $gray-light
			text-transform uppercase
		.is-selected
			.label
				color $gray-dark
			.rect
				background-color $gray-dark
	
	.map__key
		max-width 69rem
		margin 1rem auto
		padding 0 1rem
		ul
			display flex
			flex-wrap wrap
			+mq('bp-4')
				justify-content center

		li
			position relative			
			margin-right 1rem
			margin-bottom 0.5rem
			set-type-size(x-small, true)
			cursor pointer
			font-weight 500
			&.is-selected
				.bg
					height 100%
		.bg
			display block
			position absolute
			bottom 0
			left 0
			height 0
			width 100%
			transition 250ms ease-in-out
			z-index 0
		.fg
			padding 0 0.5rem
			display inline-block
			position relative
			z-index 1
			border-bottom 3px solid currentColor


	.map__graphic
		// display flex
		position relative
		min-height 400px

	.graphic__chart
		width 100%
		position relative
		+mq('bp-4')
			min-height 480px

	.watermark-lab
		position absolute
		display block
		bottom 0
		right 1rem
		border none
		width 10rem
		img
			width 100%

	

	.graphic__info
		display none
		width 10rem
		position absolute
		top 50%
		left 0
		padding 1rem 0.5rem 0.25rem 0.5rem
		background-color rgba(#fff, 0.8)
		transition transform 500ms ease-in-out
		transform translateY(-50%)
		box-shadow 0 0 3px 3px rgba($gray, 0.25)
		
		&.is-visible
			display block
		&.is-hidden
			transform translate(-100%, -50%)
	
	.info__trailer
		background-color $off-black
		iframe 
			display block
	.info__toggle
		position absolute
		bottom 0
		right 0
		transform translate(100%, 0px)
		background-color rgba(#fff, 1)
		box-shadow 3px 0 1.5px 1.5px rgba($gray, 0.125), 3px 3px 0px 0px rgba($gray, 0.125)
		cursor pointer
		p
			margin 0
			text-transform uppercase
			padding 0 0.5em
			font-weight 500
			color $gray-dark
			text-shadow 0 0 3px #fff
	.info__words
		margin-top 0.5rem
		.watermark
			display block
			text-align center
			border none
			width 6rem
			margin 0 auto
			margin-top 1.5rem
			img
				width 100%
		p
			margin 0
			// text-transform uppercase
			text-align center
			color $gray-dark
			font-weight 500
			text-shadow 0 0 3px #fff
			line-height 1.25
			span
				display block
				font-weight 600
				set-type-size(small, false)
		li
			text-align center
			margin 0.75rem 0
			line-height 1
			span
				font-weight 500
				box-shadow 0 0 1px 0px rgba($gray, 0.33), 0 3px 3px 1px rgba($gray, 0.33)
				display inline-block
				line-height 1
				padding 0.25em 0.5em

	.tooltip
		position absolute
		top 0
		left 0
		display none
		pointer-events none
		background-color rgba(white, 0.9)
		border-radius 3px
		box-shadow 0 0 3px 3px rgba($gray, 0.33)
		padding 0.5rem
		p
			margin 0
			set-type-size(small)
			line-height 1.25
			color $gray-dark
			&:last-child
				font-weight 600
		&.is-visible
			+mq('bp-3')
				display block
	
	.key
		opacity 0
		&.is-visible
			opacity 0
			+mq('bp-3')
				opacity 1
		text
			color $gray-dark
			font-size 12px
			font-family 'Roboto', sans-serif
			font-weight 500
		.less, .more
			font-weight 400