/* CUSTOM STORY STYLE */
main
	min-height 101vh
svg
	display block

button, text, input
	font-family $roboto

.section__hed
	text-align center
	font-weight 600

.embed
	margin-top 0.5rem
	display flex
	justify-content flex-end
	margin-right 1rem
	p
		display inline-block
		margin 0
		set-type-size(x-small)
		text-transform uppercase
		color $gray
		margin-right 0.5rem
		cursor pointer