<footer>
	<div class='footer-social'>
		<p class='footer-social__preach'>Share this study</p>
		<div class='footer-social__icons'>

			<div class="footer-social__icon fb-share-button" data-size='large' data-href='' data-layout="button_count"></div>

			<div class='footer-social__icon'>
				<a href='https://twitter.com/share' data-size='large' class='twitter-share-button'>Tweet</a>
			</div>
		</div>
	</div>

	<div class='outro'>
		{{!--
		<p class='outro__hed'>About</p>
		{{#each copy.about}}
		<p>{{{value}}}</p>
		{{/each}} --}}
		<p class='outro__hed'>Methodology</p>
		{{#each copy.methodology}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</footer>

<div id="fb-root"></div>
<script>(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>