<div class='intro'>
	<div class='intro__top'>
		<div class='top__logo'>
			<a href='https://trends.google.com' target='_blank'>
				<img src='assets/img/logo.png' alt='Google Trends'>
			</a>
		</div>
	</div>

	<div class='intro__title'>
		<h1 class='title__hed'>{{copy.hed}}</h1>
		<p class='title__description small'>{{copy.description}}</p>
	</div>

</div>