<section id='month' class='map'>
	<h3 class='section__hed'>Most Popular Movie Each Month</h3>
	<div class='map__key'>
		<ul></ul>
	</div>
	<div class='map__ui'>
		<input type='range' min='1' max='12' value='1' class='slider'>
		<p class='ui__label'>
			January 2017
		</p>
	</div>
	<svg>
		<g></g>
	</svg>
</section>

<section id='year' class='map'>
	<h3 class='section__hed'>Most Popular Movie 2017</h3>
	<div class='map__key'>
		<ul></ul>
	</div>
	<svg>
		<g></g>
	</svg>
</section>