<section id='map' class='map'>
	<div class='map__intro'>
		{{#each copy.prelude}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
	<div class='map__key'>
		<ul></ul>
	</div>
	<div class='map__ui'>
		<ul class='past'>
			<li class='is-selected'>
				<p class='label'>Past 12 months</p>
				<span class='rect'></span>
			</li>
		</ul>
		<ul class='timeline'>

		</ul>
		<div class='ui__control'>
			<span class='play is-selected'>@@include('play.svg')</span>
			<span class='pause'>@@include('pause.svg')</span>
		</div>
	</div>
	<div class='map__graphic'>
		<div class='graphic__chart'>
			<svg>
				<g></g>
			</svg>
			<div class='tooltip'>
				<p class='name'>
				</p>
				<p class='movie'>
				</p>
			</div>
			<a class='watermark' href='https://newslab.withgoogle.com/' target='_blank'>
				<img src='assets/img/logo_newslab.png' alt='news lab'>
			</a>
		</div>
		<div class='graphic__info'>
			<div class='info__toggle'>
				<p class='x-small'>Hide</p>
			</div>
			<div class='info__trailer'>
				{{!--
				<div id='youtube-player'></div> --}}
				<a target='_blank'>
					<img alt='trailer'>
				</a>
			</div>
			<div class='info__words'>
				<p class='x-small'>Words Unique in
					<span></span> Youtube Video Reviews</p>
				<ul></ul>
				<a class='watermark' href='https://youtube.com' target='_blank'>
					<img src='assets/img/logo_yt.png' alt='youtube'>
				</a>
			</div>
		</div>
	</div>
	<div class='map__outro'>
		{{#each copy.outro}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
</section>

{{!--
<section id='year' class='map'>
	<h3 class='section__hed'>Most Popular Movie 2017</h3>
	<div class='map__key'>
		<ul></ul>
	</div>
	<svg>
		<g></g>
	</svg>
</section> --}}