<section id='map' class='map'>
	<p class='map__intro small'>Text here that explains that Get Out was most
		<mark>scary</mark> and this other movie was voted something else. Text here that explains that Shape of Water was most
		<mark>beautiful</mark> and this other movie was voted something else.</p>
	<div class='map__key'>
		<ul></ul>
	</div>
	<div class='map__ui'>
		<input type='range' min='0' max='12' value='0' class='slider'>
		<p class='ui__label'>
			Last Year
		</p>
	</div>
	<div class='map__graphic'>
		<div class='graphic__chart'>
			<svg>
				<g></g>
			</svg>
		</div>
		<div class='graphic__info'>
			<div class='info__trailer'>
				<img src='http://via.placeholder.com/268x200'>
			</div>
			<div class='info__words'>
				<ul></ul>
			</div>
		</div>
	</div>

</section>

{{!--
<section id='year' class='map'>
	<h3 class='section__hed'>Most Popular Movie 2017</h3>
	<div class='map__key'>
		<ul></ul>
	</div>
	<svg>
		<g></g>
	</svg>
</section> --}}