<section id='map'>
	<div class='map__key'>
		<ul></ul>
	</div>
	<div class='map__ui'>
		<input type='range' min='1' max='12' value='1' class='slider'>
		<p class='ui__label'>
			January 2017
		</p>
	</div>
	<svg>
		<g></g>
	</svg>
</section>